<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/stylesheets/all.css?20150707" media="screen" rel="stylesheet" type="text/css" /><script src="/vender/modernizr.custom.76886.js" type="text/javascript"></script><!--[if IE]><link href="/stylesheets/ie.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
    <title>
      台灣美樂地 - 2016蔡英文競選歌曲徵件
    </title>
    <meta content="蔡英文,美樂地,melody,競選,競選專輯,競選歌曲,總統" name="keywords">
    <meta content="為這片土地，寫一首歌！2016蔡英文競選專輯《台灣美樂地》預計九月發行。廣邀所有對台灣有牽掛、對音樂有熱誠的創作者，為這片土地譜出我們交織的記憶，唱出屬於台灣的melody。" name="description"><meta content="台灣美樂地 - 2016蔡英文競選歌曲徵件" property="og:title">
    <meta content="台灣美樂地" property="og:site_name">
    <meta content="http://melody.iing.tw" property="og:url">
    <meta content="http://melody.iing.tw/images/fb.png" property="og:image">
    <meta content="為這片土地，寫一首歌！2016蔡英文競選專輯《台灣美樂地》預計九月發行。廣邀所有對台灣有牽掛、對音樂有熱誠的創作者，為這片土地譜出我們交織的記憶，唱出屬於台灣的melody。" property="og:description">
    <meta content="website" property="og:type">
    <meta content="612130717" property="fb:admins">
    <meta content="100002269303618" property="fb:admins">
  </head>
  <body class="event-close">
    <div class="page">
      <div class="page-inner">
        <div class="gray-balls">
          <div class="ball-2"></div>
        </div><div class="hero">
          <div class="hero-title-container">
            <div class="hero-title">
              台灣美樂地 TAIWAN MELODY - 為這片土地，寫一首歌
            </div>
          </div>
          <div class="gray-balls">
            <div class="ball-1"></div>
          </div>
          <div class="color-dots">
            <div class="dot-1"></div>
            <div class="dot-2"></div>
          </div>
          <div class="color-lines">
            <div class="layer-1">
              <div class="line-1"></div>
            </div>
            <div class="layer-2">
              <div class="line-2-1"></div>
              <div class="line-2-2"></div>
              <div class="line-2-3"></div>
            </div>
            <div class="layer-3">
              <div class="line-3-1"></div>
              <div class="line-3-2"></div>
            </div>
            <div class="layer-4">
              <div class="line-4-1"></div>
              <div class="line-4-2"></div>
              <div class="line-4-3"></div>
            </div>
            <div class="layer-5">
              <div class="line-5-1"></div>
              <div class="line-5-2"></div>
            </div>
            <div class="layer-6">
              <div class="line-6-1"></div>
              <div class="line-6-2"></div>
            </div>
            <div class="layer-7">
              <div class="line-7-1"></div>
              <div class="line-7-2"></div>
              <div class="line-7-3"></div>
            </div>
            <div class="layer-8">
              <div class="line-8-1"></div>
              <div class="line-8-2"></div>
            </div>
          </div>
          <div class="share-button">
            <span>分享</span><a class="fb-share" href="https://www.facebook.com/sharer/sharer.php?u=http://melody.iing.tw" target="_blank">分享到 Facebook</a><a class="tweet" href="http://twitter.com/share?text=為這片土地，寫一首歌！2016蔡英文競選專輯《台灣美樂地》預計九月發行。廣邀所有對台灣有牽掛、對音樂有熱誠的創作者，為這片土地譜出我們交織的記憶，唱出屬於台灣的melody&url=http://melody.iing.tw" target="_blank">twitter 推文</a>
          </div>
          <a class="btn btn_primary pre-order-button desktop" href="http://iing.tw/posts/59" target="_blank">專輯預購中！</a>
        </div><div class="intro">
          <div class="go-to-list">
            <a class="btn btn_primary pre-order-button mobile" href="http://iing.tw/posts/59" target="_blank">專輯預購中</a>
            <a class="btn btn_primary in-interval" href="/songs/">前往投票</a>
            <a class="btn btn_primary after-interval" href="/songs/">歌曲試聽</a>
            <a class="btn btn_primary after-interval" href="/finalround/">決選作品</a>
          </div>
          <div class="intro-content">
            <p>
              2016蔡英文競選專輯《台灣美樂地》歌曲徵件活動開跑，所有歌曲將經網路票選入圍，並由音樂人、各界專業人士組成之評審團進行決選，展現台灣多元且充滿生命力的聲音，專輯預計於九月發行。
            </p>
            <p>
              歌曲徵件活動細節將於近日公佈，歡迎踴躍投稿，廣邀對創作有熱情、對家園有牽掛的創作者朋友，為了鄉土山林、為了堅持的價值與願景、為了生活在這片土地上的歡欣與挫折，寫一首歌。曲風、語言皆不限，我們一起譜出屬於台灣的melody。
            </p>
          </div>
          <div class="intro-right-lines">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
            <div class="line-4"></div>
          </div>
          <div class="intro-left-lines">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
          </div>
          <div class="intro-hr-top"></div>
          <div class="intro-hr-bottom"></div>
        </div><div class="content home">
          <div class="container">
            <div class="gray-container">
              <div class="event-detail" id="event-detail">
                <div class="side-title">
                  <div class="color-mountain"></div>
                  <div class="color-bars"></div>
                  <div class="color-dot"></div>
                  徵選辦法
                </div>
                <div class="col">
                  <h4>
                    活動項目
                  </h4>
                  <p>
                    台灣美樂地-2016蔡英文競選歌曲徵件活動
                  </p>
                  <h4>
                    活動目的
                  </h4>
                  <p>
                    以對台灣這片土地的熱愛，透過歌曲方式呈現。經全民投票後勝出的歌曲，將收錄於「台灣美樂地」專輯，製作CD，並同步於各音樂平台，實體通路流通。
                  </p>
                  <h4>
                    活動時間表
                  </h4>
                  <p>
                    報名期間：2015年6月12日至6月30日<br>
                    全民投票：2015年7月2日至7月6日<br>
                    評審決選：2015年7月9日，將邀請全民投票前三名現場表演<br>
                    實體專輯：2015年9月
                  </p>
                  <h4>
                    報名方式（報名已截止）
                  </h4>
                  <p>
                    於報名期間內，下載報名表，填妥後連同歌曲mp3，寄至 <a href="mailto:twmelody2016@gmail.com">twmelody2016@gmail.com</a> ，寄件主旨抬頭為〔台灣美樂地〕歌曲名／創作者名稱。作品曲風、語言不限，無報名身份限制。網站將於6/23開放投稿歌曲試聽。<br>
                    <a class="btn is-disabled" onclick="alert('報名已截止！');">下載報名表</a>
                  </p>
                  <p>
                    <strong>參加《台灣美樂地》投稿者，視為已詳閱且了解並同意接受《台灣美樂地》徵選辦法，若違反徵選辦法之行為，主辦單位得取消其參賽資格。</strong>
                  </p>
                  <h4>
                    投票方式與投票時間
                  </h4>
                  <p>
                    我們將於「參賽作品」頁面開放投票，投票時間從 2015/7/2 10:00 到 2015/7/6 23:59 ，使用 FB 帳號進行登入投票，每首歌曲每天可投一票表達支持。<br>一天時間以 00:00 ~ 23:59 為基準，歡迎踴躍參與！
                  </p>
                </div>
                <div class="col">
                  <h4>
                    評審方式
                  </h4>
                  <p>
                    募集歌曲將上傳至 soundcloud ，嵌入活動網頁以供聆聽，初選開放全民投票，前20高票進入決選，由評審團決選10首歌曲，並收錄於專輯。
                  </p>
                  <h4>
                    回饋
                  </h4>
                  <p>
                    收錄專輯之歌曲，蔡英文辦公室將給付詞曲授權費三萬元，並收錄於專輯中。歌曲僅於選舉期間使用，創作人仍持有版權，如果要出個人專輯，還是可以使用。<br>收錄專輯之歌曲，可於競選期間內提供數位下載。<br>如果您的作品入選了，敬請用力練習，蔡英文辦公室可能會邀請您，唱出為台灣寫的歌！
                  </p>
                  <h4>
                    注意事項
                  </h4>
                  <p>
                    一、請避免發生以下狀況，不然會有點困擾：<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; • 歌曲須為自己創作，不能向別首歌「大量致敬」喔！<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; • 已得獎或是出版過的歌曲，是不允許der！<br>二、你們的歌曲版權還是你們的，蔡英文辦公室僅於選舉期間使用。<br>三、「台灣美樂地」相關問題請 email 至 twmelody2016@gmail.com。<br>四、投票需要 Facebook 登入授權，蔡英文辦公室僅用於投票，不作他用。
                  </p>
                </div>
              </div><div class="evaluators">
                <div class="side-title">
                  <div class="color-mountain"></div>
                  <div class="color-bars"></div>
                  <div class="color-dot"></div>
                  評審名單
                </div>
                <ul class="evaluators-list">
                  <li>
                    <img src="/images/evaluators/c.jpg">
                    <h4>
                      深白色
                    </h4>
                    <p>
                      詞曲作者 / 製作人 / 編曲 / 錄音混音。入行二十年，曾任金曲獎金音獎評審
                    </p>
                  </li>
                  <li>
                    <img src="/images/evaluators/a.jpg">
                    <h4>
                      水瓶鯨魚
                    </h4>
                    <p>
                      作家、漫畫家，曾任魔岩唱片協理、滾石唱片經理和四屆金曲獎評審
                    </p>
                  </li>
                  <li>
                    <img src="/images/evaluators/b.jpg">
                    <h4>
                      大支
                    </h4>
                    <p>
                      知名饒舌嘻哈歌手,曾登上美國時代雜誌、CNN、路透社、法新社、DISCOVERY
                    </p>
                  </li>
                  <li>
                    <img src="/images/evaluators/e.jpg">
                    <h4>
                      李欣芸
                    </h4>
                    <p>
                      音樂創作人。曾獲金曲獎演奏類最佳作曲、金馬獎最佳原創電影音樂
                    </p>
                  </li>
                  <li>
                    <img src="/images/evaluators/d.jpg">
                    <h4>
                      翁嘉銘
                    </h4>
                    <p>
                      資深樂評人&amp球評<br>現職：專欄作家，世新中文系新聞寫作課 / 歌詞課老師
                    </p>
                  </li>
                  <li>
                    <img src="/images/evaluators/g.jpg">
                    <h4>
                      Orbis
                    </h4>
                    <p>
                      THE WALL MUSIC 執行長<br>有料音樂創辦人
                    </p>
                  </li>
                  <li>
                    <img src="/images/evaluators/f.jpg">
                    <h4>
                      黃連煜
                    </h4>
                    <p>
                      自由歌手<br>音樂製作人、詞曲創作
                    </p>
                  </li>
                  <li>
                    <img src="/images/evaluators/h.jpg">
                    <h4>
                      鈕大可
                    </h4>
                    <p>
                      音樂創作、製作、演唱<br>鈕吧音樂餐廳負責人
                    </p>
                  </li>
                  <li>
                    <img src="/images/evaluators/n.jpg">
                    <h4>
                      巴奈
                    </h4>
                    <p>
                      巴奈的人生就是舞台，在這個是非混沌的年代，她一開口唱，坦白震悸讓人毫無閃躲的能力
                    </p>
                  </li>
                  <li>
                    <img src="/images/evaluators/k.jpg">
                    <h4>
                      趙之璧
                    </h4>
                    <p>
                      台灣創作搖滾女歌手<br>知名電台 DJ
                    </p>
                  </li>
                  <li>
                    <img src="/images/evaluators/i.jpg">
                    <h4>
                      劉維融
                    </h4>
                    <p>
                      廣告人，走跳廣告傳播圏二十年，華文廣告獎評審。承辦多場國內外大型演唱會
                    </p>
                  </li>
                  <li>
                    <img src="/images/evaluators/j.jpg">
                    <h4>
                      張鐵志
                    </h4>
                    <p>
                      知名音樂與文化評論人，著有《聲音與憤怒》等作品
                    </p>
                  </li>
                  <li>
                    <img src="/images/evaluators/l.jpg">
                    <h4>
                      聶永真
                    </h4>
                    <p>
                      兩屆金曲專輯包裝獎得主，曾任德國紅點獎評審
                    </p>
                  </li>
                  <li>
                    <img src="/images/evaluators/m.jpg">
                    <h4>
                      鄭文堂
                    </h4>
                    <p>
                      電影導演，曾獲威尼斯影展國際影評人週最佳影片、金馬獎最佳台灣電影、台北電影節最佳劇情片、台北電影節最佳導演獎
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-bottom-illustrator"></div>
      </div>
      <div class="site-info">
        <div class="container">
          <a href="#top">
            <div class="site-name">
              台灣美樂地
            </div>
            <div class="site-url">
              http://melody.iing.tw
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="site-list">
          <a class="site" href="http://donate.iing.tw">
            <div class="site-logo site-logo_donate"></div>
            <div class="site-meta site-title">
              蔡英文競選小額募款
            </div>
            <div class="site-meta site-subtitle">
              donate.iing.tw
            </div>
          </a><a class="site" href="http://light.iing.tw">
            <div class="site-logo site-logo_hope"></div>
            <div class="site-meta site-title">
              在地希望線上博覽會
            </div>
            <div class="site-meta site-subtitle">
              light.iing.tw
            </div>
          </a><a class="site" href="http://iing.tw">
            <div class="site-logo site-logo_main"></div>
            <div class="site-meta site-title">
              2016 蔡英文競選官網
            </div>
            <div class="site-meta site-subtitle">
              iing.tw
            </div>
          </a>
        </div>
      </div>
      <div class="footer-logo"></div>
      <div class="copy">
        &copy; 2016 蔡英文競選辦公室
      </div>
    </div><script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://connect.soundcloud.com/sdk.js" type="text/javascript"></script>
    <script src="/vender/slick.min.js" type="text/javascript"></script>
    <script src="/javascripts/global.js?20150707" type="text/javascript"></script>
    <script src="/javascripts/animate.js" type="text/javascript"></script>
    <script src="/javascripts/soundcloud.js?20150707" type="text/javascript"></script>
    <script src="/javascripts/all.js?20150707" type="text/javascript"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-63343044-3', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
