<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/stylesheets/all.css?20150707" media="screen" rel="stylesheet" type="text/css" /><script src="/vender/modernizr.custom.76886.js" type="text/javascript"></script><!--[if IE]><link href="/stylesheets/ie.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
    <title>{{ page.title }} - {{ site.title }} - {{ site.slogan }}</title>
    <meta   name="keywords"           content="{{ site.keywords }}">
    <meta   name="description"        content="{{ site.discription }}">
    <meta   property="og:title"       content="{{ page.title }} by {{ page.artist }} — {{ site.title }} — {{ site.slogan }}">
    <meta   property="og:site_name"   content="{{ site.title }}">
    <meta   property="og:url"         content="http://melody.iing.tw{{ page.permalink }}">
    <meta   property="og:image"       content="http://melody.iing.tw/images/fb.png">
    <meta   property="og:description" content="{{ site.discription }}">
    <meta   property="og:type"        content="music.song">
    <meta   property="fb:admins"      content="612130717">
    <meta   property="fb:admins"      content="100002269303618">
  </head>
  <body class="event-close">
    <div class="too-many-people-is-here">
      <p>目前網站太多人瀏覽，處理仍進行中，敬請的耐心等候，謝謝</p>
    </div>
    <div class="popup-container">
      <div class="popup-dialog">
        <div class="popup-dialog-inner"></div>
      </div>
    </div>
    <div class="popup-loading-container">
      <div class="popup-inner">
        <div class="spinner">
          <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
          <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
          <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="page-inner">
        <div class="header">
          <div class="header-inner">
            <a class="header-logo" href="/">台灣美樂地 TAIWAN MELODY</a>
            <div class="header-nav-button">
              MENU
            </div>
            <ul class="header-nav off">
              <li><a href="/#event-detail">徵選辦法</a></li>
              <li><a href="/songs/">參賽作品</a></li>
              <li class="after-interval"><a href="/finalround">決選作品</a></li>
              <li class="pre-order"><a href="http://iing.tw/posts/59" target="_blank">專輯預購中</a></li>
            </ul>
          </div>
        </div>
        <div class="page-title song">
          <div class="page-title-inner">
            <div class="page-title-song-content">
              <div class="song-number"></div>
              <div class="song-title-container">
                <div class="song-title"></div>
                <div class="song-artist"></div>
                <!-- <div class="play-times-container">
                  播放次數：<span class="play-times"></span>
                </div> -->
              </div>
            </div>
            <div class="song-tool-buttons">
              <button class="fb-share" type="button" data-href="">分享</button>
              <div class="vote-button-container">
                <button class="vote-button" type="button" data-id="">投他一票</button>
                <div class="vote-count"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="song-player-container off">
          <div class="song-player">
            <button class="play-button" data-id="" data-sid="" data-trackid=""></button>
            <div class="song-wave">
              <div class="waveform-preview"></div>
              <div class="waveform"></div>
              <input class="song-waveform-value" type="hidden">
            </div>
          </div>
        </div>
        <div class="content song-detail off">
          <div class="spinner">
            <div class="spinner-container container1">
              <div class="circle1"></div>
              <div class="circle2"></div>
              <div class="circle3"></div>
              <div class="circle4"></div>
            </div>
            <div class="spinner-container container2">
              <div class="circle1"></div>
              <div class="circle2"></div>
              <div class="circle3"></div>
              <div class="circle4"></div>
            </div>
            <div class="spinner-container container3">
              <div class="circle1"></div>
              <div class="circle2"></div>
              <div class="circle3"></div>
              <div class="circle4"></div>
            </div>
          </div>
          <div class="container">
            <div class="gray-container">
              <div class="song-intro">
                <div class="side-title">
                  <div class="color-ring">
                    <div class="ring-balls"></div>
                  </div>
                  <div class="color-bars"></div>
                  <div class="color-dot"></div>
                  創作理念
                </div>
                <div class="song-title"></div>
                <div class="song-artist"></div>
                <p>
                  &nbsp;
                </p>
              </div>
              <div class="song-lyric">
                <div class="side-title">
                  <div class="color-ring">
                    <div class="ring-balls"></div>
                  </div>
                  <div class="color-bars"></div>
                  <div class="color-dot"></div>
                  歌詞
                </div>
                <p>
                  &nbsp;
                </p>
              </div>
            </div>
          </div>
          <div class="next-song">
            <a class="btn btn_primary" href="/songs">全部歌曲</a>
            <a id="nextSong" class="btn btn_primary" href="">隨機播放另一首</a>
          </div>
        </div>
        <div class="page-bottom-illustrator off"></div>
      </div>
      <div class="site-info">
        <div class="container">
          <a href="#top">
            <div class="site-name">
              台灣美樂地
            </div>
            <div class="site-url">
              http://melody.iing.tw
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="site-list">
          <a class="site" href="http://donate.iing.tw">
            <div class="site-logo site-logo_donate"></div>
            <div class="site-meta site-title">
              蔡英文競選小額募款
            </div>
            <div class="site-meta site-subtitle">
              donate.iing.tw
            </div>
          </a><a class="site" href="http://light.iing.tw">
            <div class="site-logo site-logo_hope"></div>
            <div class="site-meta site-title">
              在地希望線上博覽會
            </div>
            <div class="site-meta site-subtitle">
              light.iing.tw
            </div>
          </a><a class="site" href="http://iing.tw">
            <div class="site-logo site-logo_main"></div>
            <div class="site-meta site-title">
              2016 蔡英文競選官網
            </div>
            <div class="site-meta site-subtitle">
              iing.tw
            </div>
          </a>
        </div>
      </div>
      <div class="footer-logo"></div>
      <div class="copy">
        &copy; 2016 蔡英文競選辦公室
      </div>
    </div><script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://connect.soundcloud.com/sdk.js" type="text/javascript"></script>
    <script src="/vender/slick.min.js" type="text/javascript"></script>
    <script src="/javascripts/global.js?20150707" type="text/javascript"></script>
    <script src="/javascripts/animate.js" type="text/javascript"></script>
    <script src="/javascripts/waveform.js?20150707" type="text/javascript"></script>
    <script src="/javascripts/soundcloud.js?20150707" type="text/javascript"></script>
    <script src="/javascripts/song.js?20150707" type="text/javascript"></script>
    <script src="/javascripts/all.js?20150707" type="text/javascript"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-63343044-3', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
